<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8921900860-71jt8ee6tvcft8ch6cntqe5cf2lt0qqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8921900860-71jt8ee6tvcft8ch6cntqe5cf2lt0qqe</string>
	<key>API_KEY</key>
	<string>AIzaSyAeUX2ki1OliRyxP8VzBvAxUedHXRWcnlA</string>
	<key>GCM_SENDER_ID</key>
	<string>8921900860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-flutter-c8d38</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-flutter-c8d38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8921900860:ios:8b46becf457fc545496039</string>
</dict>
</plist>